<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4 class="mdl-cell mdl-cell--12-col">No videos yet</h4>
      <p>
        You haven't submited any video to be encoded. Upload a
        <strong>mp4</strong>, <strong>ogg</strong> or <strong>webm</strong>
         to encoded to <strong>mp4</strong>
      </p>
      <p>
        <%= link_to 'Upload', new_video_path,
          class: 'mdl-button mdl-js-button mdl-button--raised
            mdl-js-ripple-effect mdl-button--accent' %>
      </p>
    </div>
  </div>
</section>
