<%= simple_form_for @video do |f| %>

  <% if @video.has_errors? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= @video.errors.full_messages.join('. ') %>
      </div>
    </div>
  <% end %>

  <%= f.input :original_file, label: false, error: false, input_html: {class: 'dropify', data: {height: "80"}} %>
  <%= f.submit 'Upload', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
<% end %>
