<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4 class="mdl-cell mdl-cell--12-col">
        Uploaded videos

        <%= link_to 'Upload', new_video_path,
          class: 'mdl-button mdl-js-button mdl-button--raised
            mdl-js-ripple-effect mdl-button--accent botao-atualizar-videos' %>

        <%= link_to 'Update status', videos_path,
          class: 'mdl-button mdl-js-button mdl-button--raised
            mdl-js-ripple-effect mdl-button--accent botao-atualizar-videos' %>
      </h4>

      <%= ApplicationHelper::UI::Flash.new(flash[:notice]).show %>
      
      <table class="mdl-data-table mdl-shadow--2dp mdl-cell--12-col">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Original file</th>
            <th>Job ID</th>
            <th>Date</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
          </tr>
        </thead>
        <tbody>
          <%= render @videos %>
        </tbody>
      </table>
    </div>
  </div>
</section>
