<video id="my-video" class="video-js" controls preload="auto" width="<%= @video.width %>" height="<%= @video.height %>" data-setup="{}">
  <source src="<%= @video.converted_file %>" type='video/mp4'>
  <p class="vjs-no-js">
    To watch this video, enable javascript in your web browser
    <a href="http://videojs.com/html5-video-support/" target="_blank">HTML5 Support</a>
  </p>
</video>
