<tr>
  <td class="mdl-data-table__cell--non-numeric">
    <%= video.name %>
    <%= link_to ' (watch)', video_path(video) if video.transcoded? %>
  </td>
  <td><%= video.job_id %></td>
  <td><%= video.readable_date %></td>
  <td class="mdl-data-table__cell--non-numeric"><span class='info-label <%= video.state %>'><%= video.state %></span></td>
</tr>
