<% content_for(:menu) do %>
  <%= render partial: 'shared/menu', locals: {current: :videos} %>
<% end %>

<% content_for(:content) do %>
  <% if @videos.any? %>
    <%= render partial: 'list' %>
  <% else %>
    <%= render partial: 'empty_list' %>
  <% end %>
<% end %>
