<% content_for(:menu) do %>
  <%= render :partial => 'shared/menu', locals: {current: :videos} %>
<% end %>

<% content_for(:content) do %>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4 class="mdl-cell mdl-cell--12-col">New video</h4>
        <%= render 'form' %>
      </div>
    </div>
  </section>
<% end %>
