<% content_for(:menu) do %>
  <%= render partial: 'shared/menu', locals: {current: :videos} %>
<% end %>

<% content_for(:content) do %>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4 class="mdl-cell mdl-cell--12-col">
          Watch the video
        </h4>

        <%= render :partial => "player_#{@video.state}" %>

        <table class="mdl-data-table mdl-shadow--2dp mdl-cell--12-col" style="width: 100%">
          <tbody>
            <tr>
              <th>Status</th>
              <td><span class='info-label <%= @video.state %>'><%= @video.state %></span></td>
            </tr>
            <tr>
              <th>Input</th>
              <td><%= @video.name %></td>
            </tr>
            <tr>
              <th>Output</th>
              <td><%= @video.converted_file %></td>
            </tr>
            <tr>
              <th>Tamanho</th>
              <td><%= @video.readable_size %></td>
            </tr>
            <tr>
              <th>Duration</th>
              <td><%= @video.readable_duration %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
<% end %>
