<% content_for(:menu) do %>
  <%= render :partial => 'shared/menu', :locals => {current: :home} %>
<% end %>

<% content_for(:content) do %>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Stack</h4>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">settings</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Backend</h5>
          Rails 5.1.4, Ruby 2.4.2 and SQLite 3
        </div>

        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">code</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Frontend</h5>
          Material Design (HTML5/CSS), jQuery, Dropify and videojs.
        </div>

        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">extension</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Midleware</h5>
          Sidekiq and Redis
        </div>

        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">computer</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Integrations</h5>
          AWS S3, Zencoder API
        </div>

        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">face</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Quality</h5>
          RSpec, Rubocop
        </div>
      </div>
    </div>
  </section>
<% end %>
