.dropify-wrapper {
  margin: 10px 0;
  width: auto !important;
}

.info-label {
  display: inline-block;
  color: white;
  padding: 3px 5px;
}

.info-label.pending {background: #ccc;}
.info-label.transcoding {background: #00BCD4;}
.info-label.transcoded {background: #4caf50;}
.info-label.failed {background: #FF4081;}

.alert-error {
  font-size: 16px;
  color: rgb(255,64,129);
  padding: 5px 0;
}

.alert-info {
  font-size: 16px;
  color: #00BCD4;
  padding: 5px 0;
}

.icone-inserido {margin: 20px; color: #fff;}
.botao-atualizar-videos { margin-right: 8px; float: right;}
